<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<h:head>
		<title>Search routes</title>
	</h:head>
	<h:body>
		<h:form id="formAM">
			<h:messages id="messages" style ="color:red"/>
			<div>
				<h2>
					<h:outputText id="searchRoute" value="Search route" />
				</h2>
				<table>
					<tr>
						<td><h:outputText id="originLabel" value="Origin" /></td>
						<td><h:inputText id="origin"
								value="#{generateDestinationMB.filter.origin}" /> <br /></td>
					</tr>
					<tr>
						<td><h:outputText id="destinationLabel" value="Destination" />
						</td>
						<td><h:inputText id="destination" label="Destination"
								value="#{generateDestinationMB.filter.destination}">
							</h:inputText> <br /></td>
					</tr>
					<tr>
						<td><h:outputText id="autonomyLabel" value="Autonomy" />
						</td>
						<td><h:inputText id="autonomy" label="Autonomy"
								value="#{generateDestinationMB.filter.autonomy}">
								<f:convertNumber pattern="#0.00" currencySymbol="$" />
							</h:inputText> <br /></td>
					</tr>
					<tr>
						<td><h:outputText id="fuelValueLabel" value="Fuel Value" />
						</td>
						<td><h:inputText id="fuelValue" label="Fuel Value"
								value="#{generateDestinationMB.filter.fuelValue}">
								<f:convertNumber pattern="#0.00" currencySymbol="$" />
							</h:inputText> <br /></td>
					</tr>
					<tr>
						<td><h:commandButton id="executeSearch"
								action="#{generateDestinationMB.executeSearch()}"
								value="Search">
								<f:ajax execute="@all" render="@form" />
							</h:commandButton></td>
					</tr>
				</table>
			</div>
			<br />
			<div id="layout">
				<div class="form_title">
					<h1>
						<h:outputText value="Better route" rendered="#{generateDestinationMB.result != null}"></h:outputText>
					</h1>
				</div>
				<h2>
					<h:outputText id="result" value="#{generateDestinationMB.result}" />
				</h2>
			</div>
		</h:form>
	</h:body>
</ui:composition>
